* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbf2e9;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

.message {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.date {
    text-align: right;
}

.name, .date {
    width: 50%;
}

.message__text {
    border-top: 1px dashed #000;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

label {
    width: 10%;
    display: block;
}

input, textarea {
    width: calc(90% - 20px);
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 5px;
}